@{
    ViewBag.Title = "My first MVC application for MIS4200";
}
<h2>@ViewBag.Title.</h2>


<p>I am a senior studying MIS and Analytics at Ohio University. Upon graduation I am seeking a full time position. </p>
