@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello</h1>
    <p class="lead"> I am a senior MIS and Analytics student at Ohio University. I have experience with technical skills such as C#, SAP ERP, Visual Studio, Python and R.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SAP</h2>
        <p> Follow the link to learn about SAP </p>
        <p><a class="btn btn-default" href="https://sap.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Controller Links</h2>
        <p>Adding links to allow access to controllers</p>
        <p>@Html.ActionLink("Patients", "Index", "Patients") <br /> @Html.ActionLink("Appointments", "Index", "Appointments") <br /> @Html.ActionLink("Doctors", "Index", "Doctors")  </p>
    </div>
    <div class="col-md-4">
        <h2>R</h2>
        <p>Follow the link to learn about R</p>
        <p><a class="btn btn-default" href="https://www.r-project.org">Learn more &raquo;</a></p>
    </div>
</div>